<div class="menu-bar-container" [ngClass]="{'menu-expand': !menuCollapsed}">
  <div class="menu-bar">
    <div class="menu-top-row">
      <img class="brand-logo" src="assets/svg/logo-light.svg">

      <app-menu-links></app-menu-links>

      <img class="icon-switch-editor" [ngClass]="{'icon-grey': isDecktool}" src="assets/svg/icon-switch-editor.svg">
      <div class="menu-switch" (click)="onSwitch()">
        <div class="menu-switch-slider" [ngClass]="{'slider-right': isDecktool}"></div>
      </div>
      <img class="icon-switch-decktool" [ngClass]="{'icon-light': isDecktool}" src="assets/svg/icon-switch-decktool.svg">
    </div>
    <div class="menu-bot-row">
      <img class="menu-dropdown-toggle" src="assets/svg/icon-menu-toggle.svg"
           (click)="onMenuDropdown()" [ngClass]="{'menu-dropdown-expand': !menuCollapsed}">

      <app-tools-panel></app-tools-panel>

      <div class="login-signup">
        <img class="icon-account" src="assets/svg/icon-account.svg">
        <label>LOGIN / SIGNUP</label>
      </div>
    </div>
  </div>
</div>
