.brand-logo{
  height: 45%;
  display: inline-block;
  margin: 0 15pt 0 15pt;
}

.menu-bar-container{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.menu-bar{
  border-radius: 0 0 0.8rem 0.8rem;
  border: 0.5pt solid var(--theme-outline);
  display: inline-block;
  height: 8rem;
  width: 60vw;
  min-width: 35rem;
}

.menu-top-row{
  background-color: var(--theme-blue);
  display: flex;
  align-items: center;
  height: 40%;
}

.menu-switch{
  cursor: pointer;
  display: inline-block;
  background-color: white;
  width: 4.5rem;
  height: 1.5rem;
  border-radius: 5pt;
}

.menu-switch-slider{
  background-color: var(--theme-blue);
  position: relative;
  top: 15%;
  left: 5%;
  height: 70%;
  width: 45%;
  border-radius: 4pt;
  transition: 0.5s;
}

.slider-right{
  transform: translateX(100%);
  transition: 0.4s;
}

.icon-switch-editor{
  margin-left: auto;
  display: inline-block;
  height: 80%;
  filter: invert(1) brightness(4);
  fill: white;
  transition: 0.4s;
}

.icon-switch-decktool{
  margin-right: 15pt;
  display: inline-block;
  height: 80%;
  transition: 0.4s;
}

.icon-light{
  filter: invert(1) brightness(4);
}

.icon-grey{
  filter: brightness(1);
}

.menu-bot-row{
  display: flex;
  align-items: center;
  background-color: white;
  height: 60%;
  border-radius: 0 0 0.8rem 0.8rem;
}

.menu-dropdown-toggle{
  cursor: pointer;
  height: 70%;
  margin: 0pt 15pt;
  transition: 0.5s;
}


.menu-dropdown-expand{
  transform: rotate(180deg);
  transition: 0.5s;
}

.menu-expand{
  transform: translateY(40%);
  transition: 0.5s;
}

.panel{
  vertical-align: top;
  margin: 0 8pt;
  height: 80%;
}

.panel-title{
  font-size: 0.5rem;
  text-transform: uppercase;
  color: var(--theme-dark);
  margin: 0;
}

.panel-divider{
  display: block;
  background-color: var(--theme-dark);
  margin-top: -1pt;
  margin-bottom: 3pt;
  height: 0.05rem;
  width: auto;
}

.panel-item-group{
  display: inline-block;
}

.panel-item{
  display: inline-block;
  border-radius: 0.3rem;
  height: 1.2rem;
  margin: 2pt;
  transition: 0.5s;
}

.panel-item:hover{
  cursor: pointer;
  background-color: var(--base-background);
  transition: 0.5s;
}

.login-signup{
  display: flex;
  align-items: center;
  height: auto;
  margin-right: 8pt;
  margin-left: auto;
  cursor: pointer;
}

.login-signup:hover .icon-account{
  background-color: var(--base-background);
  transition: 0.5s;
}

.icon-account{
  height: 2rem;
  vertical-align: center;
  margin: 0 5pt;
  border-radius: 100%;
  border: 1pt solid var(--base-background);
  transition: 0.5s;
}

.login-signup label{
  cursor: pointer;
  color: var(--theme-dark);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  vertical-align: center;
  margin: 0;
}

