<div class="flashcard-tool-container">
  <div  class="btn-forgot" (mouseover)="onMouseEnterForgot()" (mouseout)="onMouseLeaveForgot()"
        (click)="onForget()">
    <img src="../../../assets/svg/icon-forgot.svg">
  </div>
  <div class="current-card" [@card] *ngFor="let card of domCard" #currentCard>
    {{ card.front }}
  </div>
  <div  class="btn-remember" (mouseover)="onMouseEnterRemember()" (mouseout)="onMouseLeaveRemember()"
        (click)="onRemember()">
    <img src="../../../assets/svg/icon-remembered.svg">
  </div>
</div>
