.deck-list-group{
  text-align: left;
  box-sizing: border-box;
  overflow: auto;
  padding: 0.5rem;
  border-radius: 0.8rem;
  height: calc(100% - 3rem);
  background-color: var(--theme-outline);

  &::-webkit-scrollbar{
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track{
    margin: 10pt;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-dark);
    border-radius: 1rem;
  }

  .item{
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin: 1rem;
    display: block;
    border-radius: 0.8rem;
    background-color: white;
    height: 15rem;
    transition: all 0.4s;
    border-bottom: 0.5rem solid;
    background-size: cover;
    background-position: center;

    &:hover{
      transform: scale(1.05);
      transition: 0.4s;
    }

    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      color: var(--theme-dark);
      font-weight: bold;
      font-size: 1.2rem;
      vertical-align:top;
      text-align: left;
      height: 100%;
    }

    .overlay{
      color: white;
      position: relative;
      background-color: rgba(0,0,0,0.20);
    }

    @media (min-width: 576px) {
      &{
        width: 10rem;
      }
    }
  }
}
