.monaco-editor {
  box-sizing: border-box;
  background-color: transparent;
  height: 100%;
  border-radius: 5pt;
  /* Forgive me... */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  overflow: visible; 
}

ngx-monaco-editor {
  height: 100%;
  width: auto;
}