

.deck-list-group{
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
  border-radius: 0.8rem;
  height: calc(100% - 3rem);
  background: var(--theme-outline);
}

.deck-list-add{
  box-sizing: border-box;
  cursor: pointer;
  margin: 10pt;
  display: inline-block;
  border: 0.05rem dashed var(--theme-dark);
  border-radius: 0.8rem;
  height: 15rem;
  width: 10rem;
}

.deck-list-item{
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--theme-dark);
  position: relative;
  padding: 10pt;
  margin: 10pt;
  display: inline-block;
  border-radius: 0.8rem;
  background-color: white;
  height: 15rem;
  width: 10rem;
  text-align: left;
  vertical-align:top;
  transition: 0.4s;
}

.deck-list-item:hover{
  transform: scale(1.05);
  transition: 0.4s;
}

.deck-mark{
  cursor: pointer;
  content: '';
  position: absolute;
  background-color: yellow;
  transform: translateY(0.5rem);
  height: 3rem;
  width: 2.5rem;
  right: 1rem;
  bottom: 0;
  clip-path: polygon(50% 25%, 100% 0, 100% 98%, 0 100%, 0 0);
}

.deck-list-group::-webkit-scrollbar{
  width: 0.5rem;
}

.deck-list-group::-webkit-scrollbar-track{
  margin: 10pt;
}


.deck-list-group::-webkit-scrollbar-thumb {
  background-color: var(--theme-dark);
  border-radius: 1rem;
}
