<div class="deck-list-container">
  <div class="deck-options-container">
    <div class="directory">
      None
    </div>
  </div>
  <div class="deck-list-group">
    <div class="deck-list-add"></div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
  </div>
</div>
