<div class="deck-list-container">
  <div class="deck-options-container">
    <img class="icon-arrow-back rm-90" src="../../../assets/svg/icon-arrow-back.svg">
    <div class="directory">None</div>
  </div>
  <div class="deck-list-group">
    <div class="deck-list-add"></div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
    <div class="deck-list-item">Sample Deck with Flashcards</div>
  </div>
</div>
