.flashcard-tool-container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: calc(100% - 3rem);
}

.viewed-card{
  margin-top: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--theme-dark);
  border-radius: 0.8rem;
  height: 20rem;
  width: 100%;
  overflow: hidden;
  border: 0.5pt solid var(--theme-outline);
  transition: all 0.4s;
}

.col-sm-6{
  padding: 1rem 1rem 0 1rem;
}

.btn-remember, .btn-forget{
  cursor: pointer;
  border-radius: 50vh;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: filter 0.4s;

  &:hover{
    filter: brightness(0.9);
    transition: filter 0.4s;
  }
}

.btn-remember{
  $btn-color: #0DD32E;
  background-color: $btn-color;
  box-shadow: 0 0.25rem 2rem -0.5rem $btn-color;
}

.btn-forget{
  $btn-color: #DA3948;
  background-color: $btn-color;
  box-shadow: 0 0.25rem 2rem -0.5rem $btn-color;
}
