.flashcard-tool-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: calc(100% - 3rem);
}

.current-card{
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--theme-dark);
  display: inline-block;
  border-radius: 0.8rem;
  background-color: white;
  height: 25rem;
  width: 15rem;
  text-align: left;
  vertical-align:top;
  border: 0.5pt solid var(--theme-outline);
  transition: all 0.4s;
}

.btn-remember, .btn-forgot{
  z-index: 1;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  transition: transform 0.4s;
}

.btn-remember{
  margin-left: 10rem;

}

.btn-forgot{
  margin-right: 10rem;
}

.btn-remember:hover, .btn-forgot:hover{
  transform: scale(1.05);
  transition: transform 0.4s;
}

.btn-remember:after, .btn-forgot:after{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  bottom: 100%;
}

.btn-remember:after{
  content: '[ Enter ]';
}

.btn-forgot:after{
  content: '[ Bckspc ]';
}

.btn-remember:hover + .current-card{
  background-color: red;
}
