.menu-container{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 100;
}

.editor-container{
  padding-top: 5.5rem;
  height: calc(100vh - 5.5rem);
  overflow: hidden;
}
