.monaco-editor{
  box-sizing: border-box;
  background-color: white;
  margin: auto;
  height: 100%;
  width: auto;
  max-width: 50rem;
  padding: 1rem;
  border-radius: 5pt;
}

ngx-monaco-editor{
  height: 100%;
  width: auto;
}
