.deck-list-container{
  box-sizing: border-box;
  margin: auto;
  height: 100%;
  width: auto;
  max-width: 50rem;
  border-radius: 5pt;
}


.deck-options-container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 3rem;
}

.directory{
  cursor: pointer;
  margin: 0 15pt;
  display: flex;
  align-items: center;
  padding: 0 10pt;
  width: 10rem;
  height: 1.5rem;
  color: var(--theme-dark);
  border-radius: 1rem;
  background-color: white;
  border: 0.5pt solid var(--theme-outline);
}
