.brand-logo{
  height: 45%;
  display: inline-block;
  margin: 0 15pt 0 15pt;
}

.menu-bar-container{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  transform: translateY(-40%);
  transition: 0.5s;
}

.menu-bar{
  border-radius: 0 0 0.8rem 0.8rem;
  box-shadow: 0pt 2pt 5pt rgba(0,0,0, 0.2);
  display: inline-block;
  height: 8rem;
  width: 60vw;
  min-width: 35rem;
}

.menu-top-row{
  background-color: var(--theme-blue);
  display: flex;
  align-items: center;
  height: 40%;
}

.menu-bar-list-items{
  background-color: transparent;
  border-radius: 5pt;
  padding: 2pt 5pt;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin: 0 1rem 0 1rem;
  color: white;
  transition: 0.4s;
  border: 0;
}

.menu-bar-list-items:hover{
  background-color: white;
  color: var(--theme-blue);
  transition: 0.4s;
}

.menu-bar-list-items:hover,.menu-bar-list-items:focus{
  outline: 0;
  border: 0;
  text-decoration: none;
}

.menu-switch-container{
  width: 4.5rem;
  height: 1.5rem;
}

.menu-switch{
  display: inline-block;
  position: relative;
  width: inherit;
  height: inherit;
}

.menu-switch input{
  opacity: 0;
  height: 0;
  width: 0;
}

.menu-switch-slider{
  cursor: pointer;
  border-radius: 5pt;
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
}

.menu-switch-slider:before{
  border-radius: 3pt;
  position: absolute;
  content: "";
  height: 1rem;
  width: 2rem;
  left: 3pt;
  bottom: 50%;
  background-color: var(--theme-blue);
  transition: .4s;
  transform: translateY(50%);
}

.menu-switch input:checked + .menu-switch-slider:before {
  transform: translateX(2rem) translateY(50%);
}

.icon-switch-editor{
  margin-left: auto;
  display: inline-block;
  height: 80%;
  filter: invert(1) brightness(4);
  fill: white;
  transition: 0.4s;
}

.icon-switch-decktool{
  margin-right: 15pt;
  display: inline-block;
  height: 80%;
  transition: 0.4s;
}

.icon-light{
  filter: invert(1) brightness(4);
}

.icon-grey{
  filter: brightness(1);
}

.menu-bot-row{
  display: flex;
  align-items: center;
  background-color: white;
  height: 60%;
  border-radius: 0 0 0.8rem 0.8rem;
}

.menu-dropdown-toggle{
  cursor: pointer;
  height: 70%;
  margin: 0pt 15pt;
  transition: 0.5s;
}


.menu-dropdown-expand{
  transform: rotate(180deg);
  transition: 0.5s;
}

.menu-expand{
  transform: translateY(0%);
  transition: 0.5s;
}

.panel{
  vertical-align: top;
  margin: 0 8pt;
  height: 80%;
}

.panel-title{
  font-size: 0.5rem;
  text-transform: uppercase;
  color: var(--theme-dark);
  margin: 0;
}

.panel-divider{
  display: block;
  background-color: var(--theme-dark);
  margin-top: -1pt;
  margin-bottom: 3pt;
  height: 0.05rem;
  width: auto;
}

.panel-item-group{
  display: inline-block;
}

.panel-item{
  display: inline-block;
  border-radius: 0.3rem;
  height: 1.2rem;
  margin: 2pt;
  transition: 0.5s;
}

.panel-item:hover{
  cursor: pointer;
  background-color: var(--base-background);
  transition: 0.5s;
}

.login-signup{
  display: flex;
  align-items: center;
  height: auto;
  margin-right: 8pt;
  margin-left: auto;
  cursor: pointer;
}

.login-signup:hover .icon-account{
  background-color: var(--base-background);
  transition: 0.5s;
}

.icon-account{
  height: 2rem;
  vertical-align: center;
  margin: 0 5pt;
  border-radius: 100%;
  border: 1pt solid var(--base-background);
  transition: 0.5s;
}

.login-signup label{
  cursor: pointer;
  color: var(--theme-dark);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  vertical-align: center;
  margin: 0;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content{
  overflow: hidden;
  display: none;
  position: absolute;
  top: 2rem;
  left: 0;
  border-radius: 5pt;
  background-color: white;
  box-shadow: 0pt 2pt 5pt rgba(0,0,0, 0.2);
  min-width: 15rem;
  max-width: 15rem;
  z-index: 100;
}

.dropdown-list-items{
  text-transform: none;
  letter-spacing: normal;
  color: var(--theme-dark);
  padding: 0.2rem 5pt;
  margin: 0;
  display: block;
  transition: 0.5s;
  text-align: left;
  word-wrap: break-word;
  cursor: pointer;
}

.dropdown-list-items:hover{
  overflow: hidden;
  background-color: var(--base-background);
  transition: 0.5s;
}

